<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BIG Code Challenge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style/simplex.bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand">Leafly Review Data</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Start</span>
                        </div>
                        <input class="form-control mr-sm-2" type="date" id="startDateBox" name="Start Date" onChange="requestData">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">End</span>
                        </div>
                    	<input class="form-control mr-sm-2" type="date" id="endDateBox" name="End Date" onChange="requestData">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Rating</span>
                        </div>
                    	<select id="ratingSelector" class="form-control" onChange="requestData">
	                       	<option selected value="All">All</option>
						    <option value="1">1</option>
						    <option value="2">2</option>
						    <option value="3">3</option>
						    <option value="4">4</option>
						    <option value="5">5</option>
                    	</select>
                    </div>
                    <button class="btn btn-secondary my-2 my-sm-0" id="clearFilters">Clear Filter</button>
                </form>
            </div>
        </nav>
        <div class="widgetBox">
        	<div class="row no-gutters">
	        	<div class="col-12 col-sm-6 col-md-8">
		    		<div id="calendarChart"></div>
		        </div>
		        <div class="col-6 col-md-4 sideChartColumn">
		        	<h1><span id="recordCount">0</span> Product Reviews Found</h1>
		        	<h1><span id="maxRecordsDay">0</span> Reviews on the Busiest Day</h1>
		        </div>
		    </div>
        </div>
        
<!-- 
        <div v-for="result in results" class="result">
            <b>Product Name:</b> {{result.product}}
            <br/>
            <b>Category:</b> {{result.category}}
            <br/>
            <b>Subcategory:</b> {{result.subcategory}}
            <br/>
            <b>Rating:</b> {{result.rating}}
            <br/>
            <b>Review:</b> {{result.text}}
            <br/>
            <b>Date:</b> {{result.timestamp}}
            <br/>
            <br clear="left">
        </div>
        <div v-if="noResults">
            Sorry, but no results were found. I blame Apple.
        </div>
        <div v-if="searching">
            <i>Searching...</i>
        </div> -->
    <script src="lib/echarts.js"></script>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script src="lib/vue-echarts.js"></script> -->
    <script src="app.js"></script>
</body>

</html>