img {
  float:left;
	padding-right: 5px;
}

.result {
	padding-bottom: 5px;
}

.widgetBox {
	padding-top: 125px;
}

#calendarChart {
	width: auto;
	height:650px;
	margin-left: 0px;
	margin-top: -30px;
}

.sideChartColumn {
	padding-left: 20px !important;
	padding-top: 20px;
	text-align: center;
}

.checked {
    color: orange;
}

.stylisedCard {
	width: auto; height: 250px; margin: 10px;
}

.pad-button-left {
	padding-left: 8px;
}